* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('photos/dog-background1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.landing-page {
    font-size: 1rem;
    text-align: center;
    margin: 7% 2% 0 2%;
}

.tag-along-logo {
    height: auto;
    max-width: 100%;
}

.discover {
    font-size: 5.5vw;
    font-family: 'Merriweather', serif;
    margin-top: 8%;
}

.app-intro {
    font-size: 4.4vw;
    text-shadow: 1.5px 1.5px #ffffff;
    margin: 2% 5% 10% 5%;
    text-align: center;
}

 label {
    margin-top: 6px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    font-size: 4.4vw;
}

.search-left {
    margin-top: 15px;
}

#js-type, #user-location {
    width: 65%;
    padding: 5px;
}

select, input[type=text] {
    font-size: 4.4vw;
    width: 15%;
    margin-left: 8px;
}

input[type="submit"] {
    font-size: 4.4vw;
    color: #000000;
    background-color: #fff1d0;
    margin: 5px;
    padding: 5px;
    width: 20%;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #f8f529;
}

.error-message {
    color: red;
}

main {
    margin-top: 10%;
    width: 100%;
    display: block;
}

.hidden {
    display: none;
}

.left {
    width: 100%;
    height: 175px;
    padding: 20, 0, 20, 0px;
    margin-bottom: 25px;
}

#map {
    height: 200px;
    width: 100%;
    border-radius: 2px;
}

.right {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 125, 0, 0, 0px;
    margin: 25, 15, 0, 15px;
    overflow: scroll;
    background-color: #ffffff;
}

#results-list {
    list-style: none;
    margin: 5px;
    margin-top: 25px;
}

.bizHeading, .bizInfoHeading {
    margin-bottom: 5px;
}

.biz-list-info {
    line-height: 22px;
}

.biz-rating {
    font-weight: bold;
}

.biz-type {
    font-style: italic;
}

.biz-phone {
    margin-bottom: 25px;
}

a {
    color: #1ea1e2;
    text-decoration: none;
}

a:hover {
    color: #086788;
}



/***** Groups & Items  (Desktop) *****/

/* When a web browser is larger than 600px,
   apply these rules */
   @media all and (min-width: 700px) {
    main {
        margin: 0 auto;
        display: flex;
        padding-top: 25px;
    }

    .landing-page {
        text-align: center;
        margin: 0 2% 0 2%;
    }
    
    .tag-along-logo {
        height: auto;
        max-width: 100%;
        margin-top: 2%;
    }
    
    .discover {
        font-size: 2.5em;
        margin-top: 0;
    }
    
    .app-intro {
        font-size: 1.75em;
        margin: 0 auto;
        padding: 2% 5% 5% 5%;
        text-align: center;
        width: 85%;
    }

    .search-bar {
        font-size: 1.75em;
    }

    #js-type, #user-location {
        font-size: 1em;
        width: 55%;
    }
    
    select, input[type=text] {
        font-size: 1em;
    }
    
    input[type="submit"] {
        font-size: 1.75em;
    }

    .left {
        float: left;
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }
    
    #map {
        float: left;
        height: 650px;
        width: 100%;
        border-radius: 2px;
    }
    
    .right {
        float: right;
        width: 500px;
        height: 650px;
        overflow: scroll;
        margin-right: 10px;
        background-color: #ffffff;
    }
}
